.full-width-table {
  width: 100%;
}

.box-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box-header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.header-padding {
  padding: 0 10px;
}

.box-content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.box-footer {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 40px;
}

.cell-padding {
  padding: 0 10px 0 0;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
